{% extends 'professional/professional_home.html' %}

{% load static %}

{% block section %}


<section class="criminal-search-container">
    <form action="criminalsearch" method="post" class="criminal-search-bar" id="criminal_search_form">
        {% csrf_token %}
            <input class="criminal-search-input" type="text" placeholder="search by advocate name, party name, judge name, date of order,  etc.." name="criminal-search" id="criminal_search">

            <button type="submit" class="criminal-search-button" ><span class="criminal-search-icon"><i class="fas fa-search"></i></span></button>
    </form>
</section>

<section class="criminal-main-container">


    <!-- SUB LAW TYPE -->
    <article class="criminal-sub-law-type-nav">
        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="ipc" value="ipc">
        
        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="pc act" value="pc act">
        
        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="crpc" value="crpc">
        
        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="pocso" value="pocso">
        
        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="cyber_crime" value="cyber_crime">

        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="pmla" value="pmla">

        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="ni_act" value="ni_act">

        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="ndps" value="ndps">

        <input class="criminal-sub-law-type" type="radio" name="criminal-sublaw" id="others" value="others">

        <ul class="criminal-sub-law-type-ul">
            <li class="criminal-sub-law-type-list">

                <label for="ipc" class="criminal-sub-law-type-label">IPC</label>
            </li>
            <li class="criminal-sub-law-type-list">
                <label for="pc act" class="criminal-sub-law-type-label">PC Act</label>
            </li>
            <li class="criminal-sub-law-type-list">
                <label for="crpc" class="criminal-sub-law-type-label">CrPC</label>
            </li>
            
            <li class="criminal-sub-law-type-list">
                <label for="pocso" class="criminal-sub-law-type-label">POCSO</label>
            </li>

            <li class="criminal-sub-law-type-list">
                <label for="cyber_crime" class="criminal-sub-law-type-label">CYBER CRIME</label>
            </li>

            <li class="criminal-sub-law-type-list">
                <label for="pmla" class="criminal-sub-law-type-label">PMLA</label>
            </li>
            
            <li class="criminal-sub-law-type-list">
                <label for="ni_act" class="criminal-sub-law-type-label">NI ACT</label>
            </li>

            <li class="criminal-sub-law-type-list">
                <label for="ndps" class="criminal-sub-law-type-label">NDPS</label>
            </li>
            
            <li class="criminal-sub-law-type-list">
                <label for="others" class="criminal-sub-law-type-label">OTHERS</label>
            </li>
        </ul>

  
    </article>
    <!-- END OF SUB LAW TYPE -->

    <!-- COURT -->
    <article class="criminal-court-nav">
        
        <input class="criminal-court" type="radio" name="criminal-court" id="com" value="Commission">

        <input class="criminal-court" type="radio" name="criminal-court" id="sc" value="The Supreme Court of India">
        
        <input class="criminal-court" type="radio" name="criminal-court" id="alhc" value="Allahabad High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="aphc" value="Andhra Pradesh High Court">


        <input class="criminal-court" type="radio" name="criminal-court" id="bhc" value="Bombay High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="calhc" value="Calcutta High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="chhc" value="Chhattisgarh High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="dhc" value="Delhi High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="gujhc" value="Gujarat High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="guwhc" value="Guwahati High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="hphc" value="Himachal Pradesh High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="jkhc" value="Jammu and Kashmir High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="jhahc" value="Jharkhand High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="kahc" value="Karnataka High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="kehc" value="Kerala High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="madhyahc" value="Madhya Pradesh High Court">
        
        <input class="criminal-court" type="radio" name="criminal-court" id="madrashc" value="Madras High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="manhc" value="Manipur High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="meghhc" value="Meghalaya High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="ohc" value="Odisha High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="phc" value="Patna High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="rhc" value="Rajasthan High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="tehc" value="Telangana High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="trhc" value="Tripura High Court">

        <input class="criminal-court" type="radio" name="criminal-court" id="uhc" value="Uttarakhand High Court">

        <ul class="criminal-court-ul"  data-criminalcourtvisilble="false">
            
            <li class="criminal-court-list">
                <label for="com" class="criminal-criminal-court-label">Commission</label>
            </li>
            
            <li class="criminal-court-list">
                <label for="sc" class="criminal-criminal-court-label">The Supreme Court of India</label>
            </li>
            
            <li class="criminal-court-list">
               <label for="alhc" class="criminal-criminal-court-label">The Allahabad High Court</label>
            </li>
            
            <li class="criminal-court-list">
                <label for="aphc" class="criminal-criminal-court-label">The Andhra Pradesh High Court</label>
            </li>
            
            <li class="criminal-court-list">
                <label for="bhc" class="criminal-criminal-court-label">The Bombay High Court</label>
            </li>

             <li class="criminal-court-list">
                <label for="calhc" class="criminal-criminal-court-label">The Calcutta High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="chhc" class="criminal-criminal-court-label">The Chhattisgarh High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="dhc" class="criminal-criminal-court-label">The Delhi High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="gujhc" class="criminal-criminal-court-label">The Gujarat High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="guwhc" class="criminal-criminal-court-label">The Guwahati High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="hphc" class="criminal-criminal-court-label">The Himachal Pradesh High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="jkhc" class="criminal-criminal-court-label">The Jammu and Kashmir High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="jhahc" class="criminal-criminal-court-label">The Jharkhand High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="kahc" class="criminal-criminal-court-label">The Karnataka High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="kehc" class="criminal-criminal-court-label">The Kerala High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="madhyahc" class="criminal-criminal-court-label">The Madhya Pradesh High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="madrashc" class="criminal-criminal-court-label">The Madras High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="manhc" class="criminal-criminal-court-label">The Manipur High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="meghhc" class="criminal-criminal-court-label">The Meghalaya High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="ohc" class="criminal-criminal-court-label">The Odisha High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="phc" class="criminal-criminal-court-label">The Patna High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="rhc" class="criminal-criminal-court-label">The Rajasthan High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="tehc" class="criminal-criminal-court-label">The Telangana High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="trhc" class="criminal-criminal-court-label">The Tripura High Court</label>
            </li>

            <li class="criminal-court-list">
                <label for="uhc" class="criminal-criminal-court-label">The Uttarakhand High Court</label>
            </li>
        </ul>
    </article>
    <!-- END OF COURT -->

    <!-- LAW CATEGORY -->
    <article class="criminal-category-nav">

        <input class="criminal-category" type="radio" name="criminal-category" id="limitation" value="limitation" >

        <input class="criminal-category" type="radio" name="criminal-category" id="ngteq" value="negative equality">

        <input class="criminal-category" type="radio" name="criminal-category" id="review" value="review">

        <input class="criminal-category" type="radio" name="criminal-category" id="zimma" value="zimma">
        
        <input class="criminal-category" type="radio" name="criminal-category" id="reference" value="reference">
   
        <input class="criminal-category" type="radio" name="criminal-category" id="od" value="od/ss/rd">
        
        <input class="criminal-category" type="radio" name="criminal-category" id="bindpre" value="binding precedent">

        <input class="criminal-category" type="radio" name="criminal-category" id="cont" value="contempt">

        <input class="criminal-category" type="radio" name="criminal-category" id="antibail" value="antibail">

        <input class="criminal-category" type="radio" name="criminal-category" id="bail" value="bail">

     
        
        <ul class="criminal-category-ul" data-criminalcategoryvisible="false">

            <li class="criminal-category-list">
                <label for="antibail" class="criminal-law-category-label">ANTICIPATORY BAIL</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="bail" class="criminal-law-category-label">BAIL</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="bindpre" class="criminal-law-category-label">BINDING PRECEDENT</label>
            </li>

            <li class="criminal-category-list">
                <label for="cont" class="criminal-law-category-label">CONTEMPT</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="limitation" class="criminal-law-category-label">LIMITATION</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="ngteq" class="criminal-law-category-label">NEGATIVE EQUALITY</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="od" class="criminal-law-category-label">OBITOR DICTA/ SUB SILENSO/ RATION DECIDENDI</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="reference" class="criminal-law-category-label">REFERENCE</label>
            </li>
            
            <li class="criminal-category-list">
                <label for="review" class="criminal-law-category-label">REVIEW</label>
            </li>

            <li class="criminal-category-list">
                <label for="zimma" class="criminal-law-category-label">ZIMMA</label>
            </li>

        </ul>
    </article>
    <!-- END LAW CATEGORY -->

    <!-- CITATION AREA -->
    <article id="criminalqueryResult" class="criminal-citation-container">


    </article>

    <!-- END OF CITATION -->
</section>

{% endblock %}