{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=3.0" />
    <title>Solve Litigation | Subscription</title>

    <script
      src="https://kit.fontawesome.com/2b3aa8f23b.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.6.0.min.js' %}"
    ></script>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/subscription.css' %}" />
    <link rel="icon" href="{% static 'images/solve_favicon.svg' %}" />
  </head>
  <body>
    <div class="subscription-wrapper">
      <div class="subscription-banner">
        <!-- HEADER AND LOGO SECTION -->
        <div class="subscription-header">
          <a href="/">
            <img
              class="logo"
              src="{% static 'images/slvemongramdarkblue.svg' %}"
              alt="solvelitigation"
            />
          </a>

          <nav class="sub-nav-bar">
            <ul class="sub-nav-ul">
              <li class="sub-nav-list">
                <a href="#professional" class="sub-nav-link">PROFESSIONAL</a>
              </li>
              <li class="sub-nav-list">
                <a href="#individual" class="sub-nav-link">INDIVIDUAL</a>
              </li>
              <li class="sub-nav-list">
                <a href="#firm-company" class="sub-nav-link">FIRM/ COMPANY</a>
              </li>
              <li class="sub-nav-list">
                <a href="#research" class="sub-nav-link">RESEARCH</a>
              </li>
              <li class="sub-nav-list">
                <a href="{% url 'home' %}" class="sub-nav-link">HOME</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- END OF HEADER SECTION -->

        <!-- PRICING DESCRIPTION SECTION -->

        <div class="sub-desc-main-container">
          <div class="sub-desc-title-container">
            <p class="sub-desc-title">OUR PRICING</p>
          </div>
          <div class="sub-desc-container">
            <p class="sub-desc">
              We provide economical prices for all. We have subscription plans
              for the users who have choosen<span class="sub-highlight-text"
                >"Professional"</span
              >
              and an "on demand scheme" for the users who have choosen
              <span class="sub-highlight-text">"Individual"</span> or
              <span class="sub-highlight-text">"Firm/ Company".</span> The
              subscription plans are made keeping in mind the needs of our
              users, providing them a value for money experience.
            </p>
          </div>

          <a href="#professional" class="explore-more-link">
            <div class="explore-button-container">
              <p class="explore-plans">Explore Plans</p>
              <span class="arrow"
                ><i class="fas fa-angle-double-down"></i
              ></span>
            </div>
          </a>
        </div>
      </div>

      <!-- PROFESSIONAL -->
      <div class="professional-main-container" id="professional">
        <div class="professional-content">
          <div class="professional-title-container">
            <p class="professional-title">
              Subscription plans for Professional
            </p>
          </div>

          <div class="professional-desc-container">
            <p class="professional-desc">
              Here we have five services for you. Each of them can be subscribed
              individualy based on your requirements. Each will expire
              individualy too.
            </p>

            <p class="professional-desc">
              <span class="sub-highlight-text"
                >The first day after registration is free. Swipe the cards to
                have a look.</span
              >
            </p>
          </div>
        </div>

        <div class="plan-button-container">
          
          <!-- PRICES OF THE OTHER PLANS FOR JS -->
          <input type="hidden" name="cvq" id="cvq" value="{{cv_quaterly}}">
          <input type="hidden" name="cvh" id="cvh" value="{{cv_hf}}">
          <input type="hidden" name="crq" id="crq" value="{{cr_quaterly}}">
          <input type="hidden" name="crh" id="crh" value="{{cr_hf}}">
          <input type="hidden" name="txq" id="txq" value="{{tx_quaterly}}">
          <input type="hidden" name="txh" id="txh" value="{{tx_hf}}">
          <input type="hidden" name="svq" id="svq" value="{{sv_quaterly}}">
          <input type="hidden" name="svh" id="svh" value="{{sv_hf}}">
          <input type="hidden" name="crpq" id="crpq" value="{{crp_quaterly}}">
          <input type="hidden" name="crph" id="crph" value="{{crp_hf}}">
          <!-- END PRICES OF THE OTHER PLANS FOR JS -->

          <input
            type="radio"
            name="plan"
            id="monthly"
            value="monthly"
            class="plan"
            required
          />
          <input
            type="radio"
            name="plan"
            id="quaterly"
            value="quaterly"
            class="plan"
            required
          />
          <input
            type="radio"
            name="plan"
            id="hf"
            value="hf"
            class="plan"
            required
          />
          

          <label for="monthly" class="monthly">
            <div class="dot"></div>
            <div class="opt-text">Monthly</div>
          </label>

          <label for="quaterly" class="quaterly">
            <div class="dot"></div>
            <div class="opt-text">3 Months</div>
          </label>

          <label for="hf" class="hf">
            <div class="dot"></div>
            <div class="opt-text">6 Months</div>
          </label>
        </div>
        <!-- PRICE CARDS SECTION -->
        <div class="professional-card-container">
          <div class="swipe-container-left">
            <i id="swipe-arrow" class="fas fa-chevron-circle-left"></i>
          </div>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="price-cards">
                  <div class="card shadow">
                    <ul>
                      <li class="pack">Civil</li>
                      <li class="price bottom-bar">
                        <!-- <i class="fas fa-rupee-sign"></i> -->
                        ₹
                        <span id="rates_civil">{{cv_monthly}}</span>
                      </li>
                      <li class="bottom-bar">
                        Complete databse with repective case laws
                      </li>

                      <li>
                        <a href="{% url 'sub-selection' %}" class="apply-now"
                          >Subscribe</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="price-cards">
                  <div class="card shadow">
                    <ul>
                      <li class="pack">Criminal</li>
                      <li class="price bottom-bar">
                        <!-- <i class="fas fa-rupee-sign"></i> -->
                        ₹
                        <span id="rates_criminal">{{cr_monthly}}</span>
                      </li>
                      <li class="bottom-bar">
                        Complete database with respective case laws
                      </li>

                      <li>
                        <a href="{% url 'sub-selection' %}" class="apply-now"
                          >Subscribe</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="price-cards">
                  <div class="card shadow">
                    <ul>
                      <li class="pack">Service</li>
                      <li class="price bottom-bar">
                        <!-- <i class="fas fa-rupee-sign"></i> -->
                        ₹
                        <span id="rates_service">{{sv_monthly}}</span>
                      </li>
                      <li class="bottom-bar">
                        Complete database with respective case laws
                      </li>

                      <li>
                        <a href="{% url 'sub-selection' %}" class="apply-now"
                          >Subscribe</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="price-cards">
                  <div class="card shadow">
                    <ul>
                      <li class="pack">Taxation</li>
                      <li class="price bottom-bar">
                        <!-- <i class="fas fa-rupee-sign"></i> -->
                        ₹
                        <span id="rates_tax">{{tx_monthly}}</span>
                      </li>
                      <li class="bottom-bar">
                        Complete database with respective case laws
                      </li>

                      <li>
                        <a href="{% url 'sub-selection' %}" class="apply-now"
                          >Subscribe</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="price-cards">
                  <div class="card shadow">
                    <ul>
                      <li class="pack">Corporate</li>
                      <li class="price bottom-bar">
                        <!-- <i class="fas fa-rupee-sign"></i> -->
                        ₹
                        <span id="rates_cor">{{crp_monthly}}</span>
                      </li>
                      <li class="bottom-bar">
                        Complete database with respective case laws
                      </li>

                      <li>
                        <a href="{% url 'sub-selection' %}" class="apply-now"
                          >Subscribe</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swipe-container-right">
            <i id="swipe-arrow" class="fas fa-chevron-circle-right"></i>
          </div>
        </div>
        <!-- END OF PRICE CARD SECTION -->
      </div>
    </div>

    <!--------------------------- SCRIPT --------------------------->
    <script
      type="text/javascript"
      src="{% static 'js/subscription.js' %}"
    ></script>
    <!--------------------------- END OF SCRIPT --------------------------->
  </body>
</html>
