*{
    margin: 0;
    padding: 0;
}

.launching-container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container
{
    width: 1000px;
    height: 500px;
 
}