@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Josefin+Sans:wght@500&family=Karla:wght@700&family=Merriweather:wght@700&family=Spectral:wght@800&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
pre,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.pay-header {
  /* outline: 1px solid red; */
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.9rem;
  box-shadow: 0px 13px 31px -13px rgba(0, 0, 0, 0.89);
  background-image: linear-gradient(
    to top,
    #ebebeb,
    #f0f0f0,
    #f5f5f5,
    #fafafa,
    #ffffff
  );
}

.logo {
  width: 6.25rem;
  height: 6.25rem;
}

.logo-link {
  text-decoration: none;
}

.pay-main-container {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  min-height: 80vh;
  margin: auto;
}

.pay-summary-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
