@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Josefin+Sans:wght@500&family=Karla:wght@700&family=Merriweather:wght@700&family=Spectral:wght@800&family=Yeseva+One&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscription-wrapper {
  overflow-x: hidden;
}

.subscription-banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top,
    #ebebeb,
    #f0f0f0,
    #f5f5f5,
    #fafafa,
    #ffffff
  );
}

.subscription-header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.9rem;
}

.logo {
  width: 6.25rem;
  height: 6.25rem;
}

.sub-nav-bar {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.sub-nav-list {
  list-style: none;
}

.sub-nav-link {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: #000;
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: clamp(0.9rem, 1.179vw, 1.5rem);
  transition: 300ms;
}

.sub-nav-link:hover {
  background-color: #000;
  color: #fff;
  border-radius: 2.1rem;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
}

.call-to-action {
  color: #fff;
  background-color: #000;
}

/* PRICING DESCRIPTION SECTION */

.sub-desc-main-container {
  /* outline: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 0.9rem;
  padding-block: 1rem;
  gap: 2rem;
  margin-block: auto;
  margin-inline: auto;
}

.sub-desc-title {
  font-family: "Spectral", serif;
  /* font-size: 2.9125rem; */
  font-size: clamp(2.2rem, 3.034vw, 3rem);
  font-weight: 900;
  color: hsl(0, 0%, 16%);
  letter-spacing: 0.2rem;
  opacity: 0;
  transform: translateY(-6rem);
  animation: title-come-up 1s cubic-bezier(0, 1.29, 1, 1) forwards;
  animation-delay: 0.5s;
}

@keyframes title-come-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sub-desc-container {
  /* outline: 2px solid blue; */
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.sub-desc {
  font-family: "Karla", sans-serif;
  text-align: center;
  /* font-size: 1.2rem; */
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  opacity: 0;
  transform: translateY(-6rem);
  animation: desc-come-up 1s cubic-bezier(0, 1.29, 1, 1) forwards;
  animation-delay: 1s;
}

@keyframes desc-come-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.explore-more-link {
  text-decoration: none;
}

.explore-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 1.1rem;
  opacity: 0;
  transform: translateY(-6rem);
  animation: explore-come-up 1s cubic-bezier(0, 1.29, 1, 1) forwards;
  animation-delay: 1.5s;
}

@keyframes explore-come-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.explore-plans {
  background-color: #000;
  padding: 0.5rem 1.1rem;
  border-radius: 2.1rem;
  color: #fff;
  font-family: "Karla", sans-serif;
  text-align: center;
  font-size: clamp(1rem, 1.25vw, 1.5rem);

  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.arrow {
  color: #000;
  font-size: clamp(1rem, 2.9vw, 10rem);
  animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.sub-highlight-text {
  color: crimson;
}

/* PROFESSIONAL */

.professional-main-container {
  min-height: 100vh;
  /* outline: 2px solid hotpink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem 0;
  gap: 1rem;
}

.professional-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 0.9rem;
  padding-block: 1rem;
  gap: 1rem;
}

.professional-title-container {
  display: flex;
  justify-content: center;
}

.professional-title {
  /* outline: 1px solid red; */
  font-family: "Spectral", serif;
  /* font-size: 2.9125rem; */
  font-size: clamp(2.2rem, 2.9vw, 3rem);
  font-weight: 900;
  color: hsl(0, 0%, 16%);
  letter-spacing: 0.2rem;
}

.professional-desc-container {
  /* outline: 2px solid blue; */
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.professional-desc {
  font-family: "Karla", sans-serif;
  text-align: center;
  /* font-size: 1.2rem; */
  font-size: clamp(1rem, 1.25vw, 1.5rem);
}

.plan-button-container {
  /* outline: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.plan-button-container label {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  height: 3.125rem;
  min-width: 10%;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  margin: 10px 0;
  padding: 0 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.plan-button-container label .opt-text {
  font-family: "Karla", sans-serif;
  font-size: clamp(0.9rem, 1.3vw, 1.3rem);
  color: #0a193d;
  font-weight: 400;
  transition: color 0.3s ease;
}

.plan-button-container label .dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #d9d9d9;
  position: relative;
}

.plan-button-container label .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: color 0.3s ease;
}

#monthly:checked ~ .monthly .dot::before,
#quaterly:checked ~ .quaterly .dot::before,
#hf:checked ~ .hf .dot::before {
  background: #333;
  transform: translate(-50%, -50%) scale(1);
}

#monthly:checked ~ .monthly,
#quaterly:checked ~ .quaterly,
#hf:checked ~ .hf {
  background: #333;
  border-color: #333;
}

#monthly:checked ~ .monthly .opt-text,
#quaterly:checked ~ .quaterly .opt-text,
#hf:checked ~ .hf .opt-text,
#monthly:checked ~ .monthly .opt-price,
#quaterly:checked ~ .quaterly .opt-price,
#hf:checked ~ .hf .opt-price {
  color: #fff;
}

.plan-button-container input[type="radio"] {
  display: none;
}

/* RADIO BUTTONS END */

.professional-card-main-container {
  /* outline: 1px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 100%;
}

.pricing-plan {
  min-width: 18.75rem;
  min-height: 26.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #555555;
  margin: 0.9rem;
}

.pricing-plan-header {
  padding: 1.5rem;
  background: #009578;
  color: #fff;
}

.pricing-plan-title {
  /* margin: 0; */
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.pricing-plan-description {
  padding: 1.9rem;
}

.pricing-plan-feature {
  list-style: none;
  padding-left: 1.5rem;
  position: relative;
  font-size: 0.9rem;
}

.pricing-plan-feature:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pricing-plan-feature::before {
  content: "\2714";
  color: #009578;
  position: absolute;
  left: 0;
}

.pricing-plan-action {
  padding: 1.5rem;
  border-top: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
}

.pricing-plan-cost {
  text-align: center;
  font-size: 2rem;
  color: #000;
}

.pricing-plan-text {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 0 0.6rem 0;
}

.subscribe-now {
  display: inline-block;
  margin: 0.9rem auto;
  padding: 0.5rem 1.25rem;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  color: #009578;
  background: #fff;
  border-radius: 0.3rem;
  border: 1px solid #009578;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.subscribe-now:hover {
  background: #009578;
  color: #fff;
}
