@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
}


.register-header
{
    /* outline: 1px solid red; */
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.9rem;
    box-shadow: 0px 13px 31px -13px rgba(0,0,0,0.89);
    background-image: linear-gradient(to top, #ebebeb, #f0f0f0, #f5f5f5, #fafafa, #ffffff);

}

.logo 
{
    width: 6.25rem;
    height: 6.25rem;
}


.regsiter-main-container
{
  display: flex;
  /* border: 1px solid black;  */
  flex-direction: column;
  padding: 20px;
  align-items: center;
   
}

.register-main-container
{
  display: flex;
  /* border: 1px solid black;  */
  flex-direction: column;
  padding: 20px;
  align-items: center;
   
}

.register-form-container
{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 25px;
    width: 30vw;
    min-height: 500px;
    padding: 20px 25px;
    box-shadow: 2px 6px 15px #d5d5d5,  -4px -5px 15px #d5d5d5;
    justify-content:space-between; 
    margin-top: 40px;
    
}

.register-otp-form-container
{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 25px;
  width: 30vw;
  min-height: 300px;
  padding: 20px 25px;
  box-shadow: 2px 6px 15px #d5d5d5,  -4px -5px 15px #d5d5d5;

  justify-content:space-between; 
}

.form-title
{
    color: #0a193d;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.register-otp-form-container a
{
    text-decoration: none;
    color: #0a193d;
    font-size: 14px ;
    
}

.register-form-container a
{
    text-decoration: none;
    color: #0a193d;
    font-size: 14px;
}

.register-form-container a:hover,
.register-otp-form-container a:hover
{
    transform: scaleX(1.05);
    color: red;
    
}

.register-form-container h3,
.register-otp-form-container h3
{
    color: #0a193d;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.register-form-container p,
.register-otp-form-container p
{
    color: red;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}

/* FORM ANIMATIONS AND DESIGNS */

.register-form-group
{
    margin-bottom: 1em;
    transition: all .3s;
    
}

.register-form-label
{
    /* border: 1px solid red; */
   
    font-size: 1rem;
    color: #0a193d;
    font-family: 'Poppins', sans-serif;
    display: block;
    opacity: 1;
    transform: translateY(-1.6em);
    transform-origin:0 0;
    transition: all .3s;
}



.register-form-control
{
    
    border-radius: 0;
    border-color: #ccc;
    border-style: none none solid none;
    width: 80%; 
    transition: all .5s;
    padding: 5px;
    background-color: transparent;

}

.register-form-control::placeholder
{
    color: transparent;
}

.register-form-control:focus
{
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.register-form-control:focus + .register-form-label,
.register-form-control:not(:placeholder-shown) + .register-form-label
{
    transform: translateY(-3em) scale(.8);
}

.register-form-group:focus-within
{
    transform: scale(1.01,1.01);
}

.register-message-container
{
    background-color: orange;

    border-radius: 25px;
    padding: 8px 25px;
    text-align: center;
    margin-bottom:50px;
}

.register-message-container p
{
    color: white;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

/* for select only */

.select-font
{
    font-size: 1rem;
    color: #0a193d;

}

/* END FOR FORM ANIMATIONS AND DESIGNS */

/* this is for form validation */
.register-form-control.invalid {
    
    border-color: #ff0000;
}

/* Hide all steps by default: */

.register-tab {
    display: none;
}

.register-tab p
{
    color: #0a193d;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
}
  
/* buttons */

.register-buttons
{
  background-color: #0166fd;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 10px 25px;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.register-buttons:hover
{
    opacity: 0.8;
}

#prevBtn 
{
    background-color: #5f5f5f;
}

.button-container
{
    display: flex;
    justify-content: space-between;
}

/* end of buttons */

/* indicator container */
.indicator-container
{
    margin-top: 20px;
    text-align: center;
}


/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }



/* RADIO BUTTONS */

.regd-as
{
    display: flex;
    flex-direction: column;

}



.regd-as label
{
    display: flex;
    height: 53px;
    width: 80%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 50px;
    margin: 10px 0;
    padding: 0px 20px;
    cursor: pointer;
    transition: all 0.3s ease;

}



.regd-as label .opt-price
{
    margin-left: auto;
}

.regd-as label .opt-price,
.regd-as label .opt-text
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #0a193d;
    font-weight: 400;
    transition: color 0.3s ease;

}

.regd-as label .opt-text
{
    padding-left: 10px;
}



.regd-as label .dot
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #d9d9d9;
    position: relative;
}


.regd-as label .dot::before
{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: color 0.3s ease;

}


#professional:checked ~ .professional .dot::before,
#individual:checked ~ .individual .dot::before,
#firm_company:checked ~ .firm_company .dot::before,
#research:checked ~ .research .dot::before



{
    background: #333;
    transform: translate(-50%, -50%) scale(1);

}


#professional:checked ~ .professional,
#individual:checked ~ .individual,
#firm_company:checked ~ .firm_company,
#research:checked ~ .research

{
    background: #333;
    border-color: #333;
}

.regd-as 
{
    margin-bottom: 20px;
}
#professional:checked ~ .professional .opt-text ,
#individual:checked ~ .individual .opt-text ,
#firm_company:checked ~ .firm_company .opt-text,
#research:checked ~ .research .opt-text,
#professional:checked ~ .professional .opt-price ,
#individual:checked ~ .individual .opt-price ,
#firm_company:checked ~ .firm_company .opt-price,
#research:checked ~ .research .opt-price

{
   color: #fff;
}

.regd-as input[type="radio"]
{
    display: none;
}

/* RADIO BUTTONS END */