{% load static %}

<head> <link rel="stylesheet" href="{% static 'css/prof_nav.css' %}"> </head>

{% if request.user.date_joined|date == request.user.last_login|date %}

  <nav class="professional-nav">
    <ul class="prof-nav-ul">
      <li class="prof-nav-list"><a href="{% url 'civil' %}" class="prof-nav-link">CIVIL</a></li>
      <li class="prof-nav-list"><a href="{% url 'criminal' %}" class="prof-nav-link">CRIMINAL</a></li>
      <li class="prof-nav-list"><a href="{% url 'service' %}" class="prof-nav-link">SERVICE</a></li>
      <li class="prof-nav-list"><a href="{% url 'taxation' %}" class="prof-nav-link">TAXATION</a></li>
      <li class="prof-nav-list"><a href="" class="{% url 'corporate' %}">CORPORATE</a></li>
      <li class="prof-nav-list"><a href="" class="prof-nav-link">ACTS/ LAWS</a></li>
      <li class="prof-nav-list"><a href="" class="prof-nav-link">NOTIFICATIONS</a></li>
    </ul>
</nav>
{% else %}
  <nav class="professional-nav">
    <ul class="prof-nav-ul">

      {% for sub in usersub %}
        {% if sub.service_choosen.code == 11 %}
              <li class="prof-nav-list"><a href="{% url 'civil' %}" class="prof-nav-link">CIVIL</a></li>
        {% endif %} 
      {% endfor %}
      
      {% for sub in usersub %}
    
        {% if sub.service_choosen.code == 21 %}
              <li class="prof-nav-list"><a href="{% url 'criminal' %}" class="prof-nav-link">CRIMINAL</a></li>
        {% endif %} 
      {% endfor %}
      
      {% for sub in usersub %}
      
        {% if sub.service_choosen.code == 31 %}
              <li class="prof-nav-list"><a href="{% url 'service' %}" class="prof-nav-link">SERVICE</a></li>
        {% endif %}
      {% endfor %}
      
      {% for sub in usersub %}
      
        {% if sub.service_choosen.code == 41 %}
              <li class="prof-nav-list"><a href="{% url 'taxation' %}" class="prof-nav-link">TAXATION</a></li>
        {% endif %}
      {% endfor %}
      
      {% for sub in usersub %}
      
        {% if sub.service_choosen.code == 51 %}
            <li class="prof-nav-list">
              <a href="{% url 'corporate' %}" class="prof-nav-link">CORPORATE</a>
            </li>
        {% endif %}
      {% endfor %}

      <li class="prof-nav-list"><a href="" class="prof-nav-link">ACTS /LAWS</a></li>
      <li class="prof-nav-list"><a href="" class="prof-nav-link">NOTIFICATIONS</a></li>


    </ul>
  </nav>

{% endif %}
