{% extends 'professional/professional_home.html' %}

{% load static %}

{% block section %}


<section class="service-search-container">
    <form action="servicesearch" method="post" class="service-search-bar" id="service_search_form">
        {% csrf_token %}
            <input class="service-search-input" type="text" placeholder="search by advocate name, party name, judge name, date of order,  etc.." name="service-search" id="service_search">

            <button type="submit" class="service-search-button" ><span class="service-search-icon"><i class="fas fa-search"></i></span></button>
    </form>
</section>

<section class="service-main-container">


    <!-- SUB LAW TYPE -->
    <article class="service-sub-law-type-nav">
        <input class="service-sub-law-type" type="radio" name="service-sublaw" id="armed force" value="armed force">
        
        <input class="service-sub-law-type" type="radio" name="service-sublaw" id="central civil service" value="central civil service">
        
        <input class="service-sub-law-type" type="radio" name="service-sublaw" id="para military" value="para military">
        
        <input class="service-sub-law-type" type="radio" name="service-sublaw" id="others" value="others">

        <ul class="service-sub-law-type-ul">
            <li class="service-sub-law-type-list">

                <label for="armed force" class="service-sub-law-type-label">  ARMED FORCES
                   </label>
            </li>
            <li class="service-sub-law-type-list">
                <label for="central civil service" class="service-sub-law-type-label">CENTRAL CIVIL SERVICE</label>
            </li>
            <li class="service-sub-law-type-list">
                <label for="para military" class="service-sub-law-type-label">PARA MILITARY</label>
            </li>
            <li class="service-sub-law-type-list">
                <label for="others" class="service-sub-law-type-label">OTHERS</label>
            </li>
        </ul>

  
    </article>
    <!-- END OF SUB LAW TYPE -->

    <!-- COURT -->
    <article class="service-court-nav">

        <input class="service-court" type="radio" name="service-court" id="sc" value="The Supreme Court of India">
        
        <input class="service-court" type="radio" name="service-court" id="Administrative Tribunal" value="Administrative Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Appellate Tribunal for Electricity" value="Appellate Tribunal for Electricity">


        <input class="service-court" type="radio" name="service-court" id="Appellate Tribunal under Smugglers and Foreign Exchange Manipulators Act" value="Appellate Tribunal under Smugglers and Foreign Exchange Manipulators Act">

        <input class="service-court" type="radio" name="service-court" id="Armed Forces Tribunal" value="Armed Forces Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Customs, Excise and Service Tax Appellate Tribunal" value="Customs, Excise and Service Tax Appellate Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Debt Recovery Tribunal" value="Debt Recovery Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Income Tax Appellate Tribunal" value="Income Tax Appellate Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Industrial Tribunal" value="Industrial Tribunal">

        <input class="service-court" type="radio" name="service-court" id="National Companies Law Appellate Tribunal" value="National Companies Law Appellate Tribunal">

        <input class="service-court" type="radio" name="service-court" id="National Consumer Disputes Redressal Commission" value="National Consumer Disputes Redressal Commission">

        <input class="service-court" type="radio" name="service-court" id="National Green Tribunal" value="National Green Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Railway Claims Tribunal" value="Railway Claims Tribunal">

        <input class="service-court" type="radio" name="service-court" id="Securities Appellate Tribunal" value="Securities Appellate Tribunal">

        <input class="service-court" type="radio" name="service-court" id="The Telecom Disputes Settlement and Appellate Tribunal" value="The Telecom Disputes Settlement and Appellate Tribunal">
        

        <ul class="service-court-ul"  data-servicecourtvisilble="false">
            <li class="service-court-list">
                <label for="sc" class="service-service-court-label">The Supreme Court of India</label>
            </li>
            
            <li class="service-court-list">
               <label for="Administrative Tribunal" class="service-service-court-label">ADMINISTRATIVE TRIBUNAL</label>
            </li>
            
            <li class="service-court-list">
                <label for="Appellate Tribunal for Electricity" class="service-service-court-label">APPELLATE TRIBUNAL FOR ELECTRICITY</label>
            </li>
            
            <li class="service-court-list">
                <label for="Appellate Tribunal under Smugglers and Foreign Exchange Manipulators Act" class="service-service-court-label">APPELLATE TRIBUNAL UNDER SMUGGLERS AND FOREIGN EXCHANGE MANIPULATORS ACT</label>
            </li>

             <li class="service-court-list">
                <label for="Armed Forces Tribunal" class="service-service-court-label">ARMED FORCES TRIBUNALS</label>
            </li>

            <li class="service-court-list">
                <label for="Customs, Excise and Service Tax Appellate Tribunal" class="service-service-court-label">CUSTOMS, EXCISE AND SERVICE TAX APPELLATE TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="Debt Recovery Tribunal" class="service-service-court-label">DEBT RECOVERY TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="Income Tax Appellate Tribunal" class="service-service-court-label">INCOME TAX APPELLATE TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="Industrial Tribunal" class="service-service-court-label">INDUSTRIAL TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="National Companies Law Appellate Tribunal" class="service-service-court-label">NATIONAL COMPANIES LAW APPELLATE TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="National Consumer Disputes Redressal Commission" class="service-service-court-label">NATIONAL CONSUMER DISPUTES REDRESSAL COMMISSION</label>
            </li>

            <li class="service-court-list">
                <label for="National Green Tribunal" class="service-service-court-label">NATIONAL GREEN TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="Railway Claims Tribunal" class="service-service-court-label">RAILWAY CLAIMS TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="Securities Appellate Tribunal" class="service-service-court-label">SECURITIES APPELLATE TRIBUNAL</label>
            </li>

            <li class="service-court-list">
                <label for="The Telecom Disputes Settlement and Appellate Tribunal" class="service-service-court-label">THE TELECOM DISPUTES SETTLEMENT AND APPELLATE TRIBUNAL</label>
            </li>
        </ul>
    </article>
    <!-- END OF COURT -->

    <!-- LAW CATEGORY -->
    <article class="service-category-nav">

        <input class="service-category" type="radio" name="service-category" id="limitation" value="limitation" >

        <input class="service-category" type="radio" name="service-category" id="ngteq" value="negative equality">

        <input class="service-category" type="radio" name="service-category" id="review" value="review">

        <input class="service-category" type="radio" name="service-category" id="tap" value="tap">
        
        <input class="service-category" type="radio" name="service-category" id="pro dpc" value="pro dpc">
   
        <input class="service-category" type="radio" name="service-category" id="od" value="od/ss/rd">
        
        <input class="service-category" type="radio" name="service-category" id="bindpre" value="binding precedent">

        <input class="service-category" type="radio" name="service-category" id="cont" value="contempt">
     
        <input class="service-category" type="radio" name="service-category" id="u/p" value="u/p">

        <input class="service-category" type="radio" name="service-category" id="fop" value="fop">

        
        <ul class="service-category-ul" data-servicecategoryvisible="false">
            

            <li class="service-category-list">
                <label for="bindpre" class="service-law-category-label">Binding Precedent</label>
            </li>
            
            <li class="service-category-list">
                <label for="cont" class="service-law-category-label">Contempt</label>
            </li>
            
            <li class="service-category-list">
                <label for="fop" class="service-law-category-label">Fixation of Pay</label>
            </li>
            
            <li class="service-category-list">
                <label for="limitation" class="service-law-category-label">Limitation</label>
            </li>
            
            <li class="service-category-list">
                <label for="ngteq" class="service-law-category-label">Ngetaive Equality</label>
            </li>
            
            <li class="service-category-list">
                <label for="od" class="service-law-category-label">Obitor Dicta/ Sub Silenso/ Ratio Decidendi</label>
            </li>
            
            <li class="service-category-list">
                <label for="pro dpc" class="service-law-category-label">Procedure of Departmental Proceedings</label>
            </li>
            
            <li class="service-category-list">
                <label for="review" class="service-law-category-label">Review</label>
            </li>
            
            <li class="service-category-list">
                <label for="tap" class="service-law-category-label">Transfer and Postiing</label>
            </li>
            
            <li class="service-category-list">
                <label for="u/p" class="service-law-category-label">Upgradation / Promotion</label>
            </li>
        </ul>
    </article>
    <!-- END LAW CATEGORY -->

    <!-- CITATION AREA -->
    <article id="servicequeryResult" class="service-citation-container">


    </article>

    <!-- END OF CITATION -->
</section>

{% endblock %}