{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solve Litigation | Password Reset</title>
    <link rel="stylesheet" href="{% static 'css/fp_password_reset.css' %}">
    <link rel="icon" href="{% static 'images/solve_icon.svg' %}">


</head>
<body>

<div class="pawssword-reset-wrapper">
    <div class="password-reset-header">
        <img src="{% static 'images/slvemongramdarkblue.svg' %}" alt="" class="logo">
    </div>

     
    <div class="password-main-container">
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <div class="password-main-container">
        
        <div class="password-ts-container">
            <p class="password-title">Change Password</p>
        </div>

        <div class="password-form-container">

            <form method="post">

                {% csrf_token %}
                
                <div class=password-form-group">
                    <input class="password-form-control" type="password" id="password"  name="password" maxlength="10" placeholder="max 10 characters" required />
                    <label class="password-form-label" for="password">NEW PASSWORD </label>
                </div>

                <div class="password-form-group">
                    <input class="password-form-control" type="password" id="con_password"  name="con_password" maxlength="10" placeholder="confirm_password" required />
                <label class="password-form-label" for="con_password">CONFIRM PASSWORD</label>
                </div>

                <input type="hidden" name="user" value="{{user}}">
    
                <input class="password-button" type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
</div>
</body>
</html>