{% extends 'base.html' %}

{% load static %}

{% block content %}
<title>{% block title %}Solve Litigation &#124 Terms & Conditions {% endblock %}</title>

<div class="t-c-wrapper">
    <div class="t-c-main-container">

        <h3>TERMS AND CONDITIONS</h3>

        <p>The registered person would be binding on their Authority to be given for appearance before Court or adjudication authority on executing the Vakalatnama</p>

        <p>Solve litigation, would be rendering professional services on payment of professional fee either on case to case basis or rendering assistance to person or person on being consulted  on legal issues involved, to the best of their satisfaction by an expert in the field. However, solve litigation would not take any responsibility or given any guarantee to have a favourable order from any authority.</p>

        <p>Uploaded /downloaded copy of the documents would be the property of the “Solve litigation”however, the said documents would be preserved according to convenient to solve litigation, on destruction of documents, registered person ought to have not any claim for the same.</p>

        <p>If there is any technical fault, and delay in response to the query, the solve litigation would not be responsible for the same.</p>

        <p>In the event of inadvertent  mistake brief has accepted and subsequently found that one of the  Counsel already taken the brief of other party, the brief would be return immediately.  Please ensure before submission that details are filed properly as to avoid unwarranted situation. </p>

        <p>Only registered mail would be a valid address for correspondence.</p>
    </div>
</div>

{% endblock %}