{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solve Litigation</title>

    <script
      src="https://kit.fontawesome.com/2b3aa8f23b.js"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.6.0.min.js' %}"
    ></script>

    <link rel="icon" href="{% static 'images/solve_favicon.svg' %}" />

    <link rel="stylesheet" href="{% static 'css/payment_summary.css' %}" />
    
</head>
<body>
     <div class="pay-wrapper">
       <header class="pay-header">
          <a class="logo-link" href="{% url 'home' %}"
          ><img
            class="logo"
            src="{% static 'images/slvemongramdarkblue.svg' %}"
            alt="logo"
        /></a>
        </header>

        <main class="pay-main-container">
            <section class="pay-success-container">
                <p class="pay-success-title">THANK YOU <i class="fas fa-smile-beam"></i></p>
                <p class="pay-success-title">YOUR PAYMENT WAS SUCCESSFUL  <i class="fas fa-check-circle"></i></p>

                <div class="pay-success-btn-container">
                    <a href="{% url 'login' %}" class="pay-success-btns">LOGIN</a>
                    <a href="{% url 'home' %}" class="pay-success-btns">HOME</a>
                </div>

            </section>
        </main>

     </div>
</body>
</html>